.filter {
	padding: 2rem 0;
	font-size: 1.2rem;

	@media screen and (min-width: 640px) {
		height: 10vh;
	}

	.fa {
		font-size: inherit;
	}

	label {
		margin: 0;
		padding: 0 4px;
		font-size: inherit;

		&.active {
			.fa {
				color: $red;
			}
		}
	}
}
