@import '~foundation';
body {
	font-family: sans-serif;
	font-size: 100%;
}

.fa-sun:before {
    content: "\F185";
}

.fa-flower:before {
    content: "\F069";
}

.checkbox-custom {
	position: relative;

	input {
		display: none;
	}
}

$brdr-color: #ccc;
$gray : #eee;
$red: #900441;
$primary: #d7ecfa;

$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid $brdr-color;
	font-size: 1.4em;
    height: 80vh;
    overflow-y: scroll;
}

.list__item {
	height: 5vh;
	padding: 0 2em;
	border-bottom: 1px solid $brdr-color;
	line-height: 5vh;
	vertical-align: middle;

	&:last-child {
		border-width: 0;
	}

	&.active {
		background-color: $primary;
	}

	.fa {
		margin-right: .4rem;
		color: #047A90;
	}
}

.ng-hide:not(.ng-hide-animate) {
  /* These are just alternative ways of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.filter {
	padding: 2rem 0;
	font-size: 1.2rem;

	@media screen and (min-width: 640px) {
		height: 10vh;
	}

	.fa {
		font-size: inherit;
	}

	label {
		margin: 0;
		padding: 0 4px;
		font-size: inherit;

		&.active {
			.fa {
				color: $red;
			}
		}
	}
}

.callout {
	font-size: 1.2rem;

	@media screen and (max-width: 640px) {
		margin-top: 4rem;
	}

	.fa {
		margin: 0 6px;
	}
}
